/* Bloomberg Color Variables */
$darkBackgroundBloomberg: #000;
$textLightBloomberg: #fff;
$bloombergRedBloomberg: #dc0a2d;
$darkBlueBloomberg: #001f3f;
$lightGrayBloomberg: #e0e0e0;

/* Solarized Light Color Variables */
$darkBackgroundSolarized: #fdf6e3;
$textLightSolarized: #657b83;
$bloombergRedSolarized: #007bff;
$darkBlueSolarized: #073642;
$darkBlueSolarized: #fff;
$lightGraySolarized: #eee8d5;

/* Alternate Colors for LaTeX Blocks */
$latexBackgroundColor: #f0f0f0;
$latexBorderColor: #ddd;
$latexPadding: 20px;
$latexMargin: 20px 0;
$latexBoxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$latexHeadingColor: #dc0a2d;

/* Toggle between Bloomberg and Solarized Light Color Scheme */
$useSolarizedLight: true;

/* Use Color Scheme */
$darkBackground: if($useSolarizedLight, $darkBackgroundSolarized, $darkBackgroundBloomberg);
$textLight: if($useSolarizedLight, $textLightSolarized, $textLightBloomberg);
$bloombergRed: if($useSolarizedLight, $bloombergRedSolarized, $bloombergRedBloomberg);
$darkBlue: if($useSolarizedLight, $darkBlueSolarized, $darkBlueBloomberg);
$lightGray: if($useSolarizedLight, $lightGraySolarized, $lightGrayBloomberg);

/* Alternate Colors for LaTeX Blocks */
.latex-block {
  background-color: $latexBackgroundColor;
  border: 1px solid $latexBorderColor;
  padding: $latexPadding;
  margin: $latexMargin;
  box-shadow: $latexBoxShadow;

  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: if($useSolarizedLight, $bloombergRedSolarized, $latexHeadingColor);
  }

  p {
    margin: 0; /* Remove paragraph margin to reduce spacing */
    line-height: 1.8; /* Adjust line height for better readability */
    color: $textLightSolarized; /* Ensure consistent text color */
  }
}

/* Color Scheme */
body {
  background-color: $darkBackground;
  color: $textLight;
}

a {
  color: $bloombergRed;
}

/* Typography */
body {
  font-family: 'Arial', sans-serif;
}

/* Layout */
.header,
.footer {
  background-color: $darkBlue;
  color: $textLight;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Specific Components */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Custom Styles for Lightening Header Links */
.site-header .site-title,
.site-header .page-link {
  color: $textLight;
}

/* General Styling */
.hero-section {
  background-color: $darkBlue;
  color: $textLight;
  padding: 40px;
}

.hero-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1em;
}

.hero-subtitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#typing-container {
  align-items: center;
}


#typing-cursor {
  animation: blinkCursor 1s step-end infinite;
  color: $textLight;
  display: inline-block;
  width: 8px; /* Adjust the width of the cursor */
  height: 2px; /* Adjust the height of the cursor */
  background-color: $textLight; /* Ensure the cursor is white */
  margin-left: 0px; /* Adjust the spacing between text and cursor */
  transform: translateY(2px); /* Move the cursor down by 2px to look like an underscore */
}

@keyframes blinkCursor {
  50% {
    opacity: 0;
  }
}

